{% extends 'base.html.twig' %}

{% block title %}HR : Symfony Tutorials{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">


    <h1> {{ title }}! ✅</h1>

    <hr>


    {# Show this block only if the user is authenticated #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <ul>
            <li> <a href="{{ path('app_task_index') }}">Tasks</a></li>
            <li> <a href="{{ path('app_front_movies') }}">Movies</a></li>
        </ul>
    {% endif %}


    <hr>
    <h2>Welcome to my tutorials</h2>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=TMZSeEujRgM" target="_blank">How to run symfony project with dunglas/symfony-docker</a></li>
        <li><a href="https://www.youtube.com/watch?v=j6T32WGyz_o" target="_blank">How to use mysql DB with dunglas/symfony-docker </a></li>
        <li><a href="https://www.youtube.com/watch?v=N0MXry_rAR4" target="_blank">How to make Entity CRUD Controller Twig views </a></li>

    </ul>

    <hr>
    <div class="center" style="display: flex; justify-content: center; align-items: center;">
        <img src="{{ asset('assets/logo.png') }}" alt="logo">
    </div>

</div>
{% endblock %}
