{# templates/partials/header.html.twig #}
<header>
    <nav>
        <ul>
            <li><a href=
                        {# "{{ path('login') }}" #}
                        >Login</a></li>
            <li><a href=
                        {# "{{ path('register') }}" #}
                        >Register</a></li>
        </ul>
    </nav>
</header>
